body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #eee;
    background-image: url("../images/dust_scratches.png");
}

#navbar {
    background-color: #fff;
    border-bottom: 2px solid #cccccc;
    text-align: right;
    height: 90px;
    margin-top: -10px; 
    width: 100%;
}

#navbar-content {
    width: 960px;
    height: 90px;
    margin: 0px auto;
}

#name {
    width: 20%;
    height: 70px;
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-align: center;
    color: #ffffff;
    float: left;
    padding: 10px;
}

ul {
    display: inline-block;
    margin-top: 40px;
}

.menu-link {
    display: inline;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#menu-link_portfolio {
    padding: 0px 10px 0px 10px;
    margin: 0px 10px 0px 10px;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

a:link {
    color: #777777;
    text-decoration: none;
}

a:visited {
    color: #777777;
}

hr {
    color: #cccccc;
    background-color: lightgray;
    height: 3px;
    border: 0;
}

#main-content {
    flex: 1 0 auto;
    margin: 40px auto 50px auto;
    width: 960px;
}

.subhead {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
}

#about {
    border: 1px solid #dddddd;
    background-color: white;
    width: 590px;
    padding: 15px 30px 10px 30px;
    float: left;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    line-height: 1.7em;
    font-size: 18px;
}

#bio-image {
    float: left;
    margin: .6em 1em 0 0;
}

#contact {
    width: 198px;
    background-color: white;
    border: 1px solid #dddddd;
    float: left;
    padding: 30px;
    margin-left: 45px;
}

.social-icon {
    height: 55px;
    width: 55px;
}

.fa-stack-overflow.fa-5x {
    position: relative;
    top: -.25em;
    padding: .2em;
    font-size: 40px;
    color: #fff;
    background-color: #f4a73b;
    border-radius: 0.25em;
    width: 1em;
    text-align: center;
  }

.fa-linkedin-square.fa-5x {
    color: #2d7ab4;
    font-size: 65px;
    margin: 0 10px;
}

.fa-github-square.fa-5x {
    color: #333333;
    font-size: 65px;
}

footer {
    /* clear: both; */
    flex-shrink: 0;
    background-color: #666666;
    border-top: 7px solid #4aaaa5;
    height: 50px;
    padding-top: 40px;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 12px;
    color: #cccccc;
}